body {
    display: grid;
    grid-template-areas:
      "nav"
      "container";
    grid-template-rows: 80px 1fr;
    margin: 0 auto;
    max-width: 950px;
    height: 100vh;
  }
  
  h1 {
      color: #E5FFCD;
  }
  nav {
    justify-content: center;
    background-image: radial-gradient(#49CE81,#27ae60);
  }
  .addItemButton {
	color: #E5FFCD;
	border-radius: 4px;
  background-image: linear-gradient(to right, #27ae60, #005711);
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 3px, var(--green);
  
}
.home{
    color: #E5FFCD;
	border-radius: 4px;
  background-image: linear-gradient(to right, #27ae60, #005711);
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 3px, var(--green); 
}
/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
      list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background:rgb(211, 241, 223);
    font-size: 18px;
    transition: 0.2s;
  
    
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: rgb(232, 246, 238);
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: rgb(133, 255, 182);
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(211, 241, 223);
    color: rgb(15, 12, 12);
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgb(211, 241, 223);
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: rgb(211, 241, 223);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    color: #E5FFCD;
	border-radius: 4px;
  background-image: linear-gradient(to right, #27ae60, #005711);
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 3px, var(--green);
  }
  
  .addBtn:hover {
    transition: 0.5s;
    background-color: var(--white-smoke);
    color:  #035212;;
  }

  .shoppingListGridContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: left;
  }
